.navbar{
    display: flex;
    width: 100%;
    padding: 10px 8% 10px 8%;
    position: fixed;
    animation: downName 3500ms cubic-bezier(.76,.09,.66,.55) both;
    animation-delay: 18s;
    z-index: 99999;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 50px;
}

.navbar-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    border-radius: 40px;
}

.navbar-li{    
    list-style: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    transition: all 300ms ease-in-out;
    
}

.navbar-li::after{
    content: '';
    padding: 5px;
    background-color: #1152B9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -5px;
    top: -5px;
    z-index: -1;
    transform-origin: left bottom;
    transform: translateX(-100%);
    transition: all 600ms ease;
}

.navbar-li:hover .navbar-link{
    color: #1152B9;
}
.navbar-li:hover::after{
    transform: translateX(0);
}
.navbar-link{    
    text-decoration: none;
    font-size: 1.1em;
    transition: all 100ms ease;
}
.navbar-mobile{
    display: none;
}
.navIcone-container{
    display: none;
}
.active{
    transform: translateX(0);
}

@media screen and (max-width: 780px) {
    .navbar{
        align-items: flex-start;
        margin-top: 20px;
        animation-delay: 16s;
    }
    .navbar-ul{
        display: none;
    }
    .navbar-mobile{
        display: flex;
        flex-direction: column;        
        width: 50px;        
        
        transform-origin: top; 
        border-radius: 40px;
        align-items: center;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 3000ms;        
    }
    .spaceWhenClose{
        justify-content: center;
        height: 50px;
    }
    .spaceWhenOpen{
        justify-content: space-between;
        padding: 3%;      
    } 
    .navbar-darkmode{
        margin: 15px 0;
    }   

    .navbar-ul-mobile{   
        transition: all 200ms ease;
        transform-origin: right top;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding-inline-start: inherit;
        height: 80%;
    }
    .navbar-li-mobile{
        list-style: none;
    }
    .navbar-li-mobile link{
        list-style: none;
    }
    .navbar-link{
        font-size: 2em;
        margin: 10px 0;
    }
    .navIcone-container{
        display: flex;
        width: 20px;
        height: 20px;
        margin: 10px 0;
    }
    .navIcone-container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .pictos-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}