.burgerMenu-container{
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.burger-top, .burger-bottom{
    width: 30px;
    height: 5px;
    border-radius: 3px;
    transition: all 500ms ease-in-out
}
.burger-top{
    transform-origin: 0 0;
}
.burger-bottom{
    transform-origin: 0 100% ;
}
.burger-middle{
    width: 15px;
    height: 3px;
    border-radius: 3px;
    transition: all 700ms ease-in-out;
}

.bun-move-down{
    transform: rotate(42deg);
}
.bun-move-up{
    transform: rotate(-42deg);
}

.burger-left{
    margin-left: 13px;
}

@media screen and (max-width: 780px) {
    .burgerMenu-container{
        display: flex;      
        /* margin: 10px 0 0 10px;   */
    }
}